<%= form_with(url: "/", method: 'get', local: true) do %>
  <div class="form-group">
    <%= text_field_tag :user_id, nil, placeholder: "Enter ID of User" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Show Photos", class: "btn btn-block" %>
  </div>
<% end %>
