<% if params[:user_id].nil? %>
  <div class="container">
    <%= render 'search_form' %>
  <% else %>
    <div class="box">
      <%= render 'search_form' %>
    </div>
    <div class="column">
      <% @photos.each do |photo| %>
        <div class="col-md-auto">
          <img src="<%=Flickr.url_n(photo) %>"/>
        </div>
      <% end %>
    </div>
  <% end %>
